// Dark theme overrides
// $AU-colordark-foreground-text: #ffffff;
// $AU-colordark-foreground-action: #45c2f0;
// $AU-colordark-foreground-focus: #e48ffc;
// $AU-colordark-background: #3c4858;

// Light theme overrides
// $AU-color-foreground-action: #3c4858;
// $AU-color-foreground-focus: #e48ffc;
//Main nav, set project specific breakpoint

$AU-media-xs: 0px;
$AU-media-sm: 576px;
$AU-media-md: 768px;
$AU-media-lg: 992px;
$AU-media-xl: 1200px;
$AU-main-nav-breakpoint: sm;
@import "../auds/sass/pancake.scss";
@import "card";
@import "grid";
@import "event";
@import "form";

// Reset the body
body {
  padding: 0;
  margin: 0;
}

.au-grid .container-fluid {
  @include AU-space(max-width, 70unit);

  @media screen and (min-width: 1400px) {
    @include AU-space(max-width, 80unit);
  }

  @include AU-media(sm) {
    @include AU-space(padding-left, 2unit);
    @include AU-space(padding-right, 2unit);
  }
}

main > .au-body {
  @include AU-space(padding, 2unit 0);
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
  @include AU-space(padding-right, 1unit);
}

h1 {
  word-wrap: break-word;
}

@media only screen and (max-width: $AU-media-xs) {
  .au-body h1 {
    @include AU-space(font-size, 2.25unit);
  }

  .au-body h2 {
    @include AU-space(font-size, 1.75unit);
  }
}

.header__badge {
  @include AU-space(padding, 2px 0.5unit);
  @include AU-space(margin-left, 0.5unit);
  border: solid 2px $AU-colordark-foreground-text;
  border-radius: 2em;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: normal;
  vertical-align: middle;
}

.mt-hero {
  margin-top: 24px !important;
  margin-top: 1.5rem !important;
}

.hero-image {
  border-radius: $AU-border-radius;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  @include AU-space(padding, 1unit);
  @include AU-space(margin-top, 1unit);
  @include AU-media(xs) {
    margin: 0;
  }
  @include AU-space(max-width, 500px);
  background: white;
}

.au-breadcrumbs {
  @include AU-space(margin-top, 1unit);
}

.au-header {
  @include AU-space(padding, 3unit 0 1.5unit 0);
}

.intro-text {
  color: #636363;
  @include AU-fontgrid(lg);
  max-width: 42rem !important;
}

.img-shadow {
  border-radius: $AU-border-radius;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 42em !important;
}

.blog-heading {
  @include AU-space(max-width, 42rem);
}

.au-main-nav--dark,
.au-header,
.au-footer,
.footer-wrapper .au-body.au-body--dark {
  background: transparent !important;
}

.au-main-nav__menu {
  @include AU-media(sm) {
    background: transparent !important;
  }
}

.header-wrapper,
.footer-wrapper {
  background: rgb(19, 94, 112);
  background: linear-gradient(
    43deg,
    rgba(19, 94, 112, 1) 6%,
    rgba(20, 100, 120, 1) 55%,
    rgba(34, 130, 153, 1) 95%
  );
  .ie9 & {
    background: $AU-colordark-background;
  }
}

.au-body--alt {
  position: relative;
  background: rgb(251, 249, 249) !important;
  background: linear-gradient(
    43deg,
    rgba(251, 249, 249, 1) 6%,
    rgba(245, 241, 241, 1) 55%,
    rgba(224, 226, 220, 1) 95%
  ) !important;
}

.inherit-bg {
  background: inherit !important;
}

.intro {
	font-size: 1.25rem;
	line-height: 1.6;
}

.stats {
	margin: 0;
	padding: 0;
	list-style-type: none;

	> li > div {
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-bottom: 4px solid #e0e0e0;
		border-bottom: 0.25rem solid #e0e0e0;
	}
}
